################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Turtel-Test/bin/Debug/net6.0
/Turtel-Test/obj/Debug/net6.0
