.header {
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
}

.header #logo {
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 12px;
}

.header #back {
    position: absolute;
    left: 0px;
    height: 80px;
    width: 80px;
    padding: 10px;
}

.header a #help {
    position: absolute;
    right: 0px;
    height: 80px;
    width: 80px;
    padding: 10px;
}